[tool.poetry]
name = "soccertrack"
version = "0.0.1"
description = "A dataset and algorithm for multi-object tracking in sports"
authors = ["Atom Scott <atom.james.scott@gmail.com>"]
license = "LICENSE"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
omegaconf = "^2.2.2"
pytest = "^7.1.2"
ffmpeg-python = "^0.2.0"
numpy = "^1.22.4"
pandas = "^1.4.2"
loguru = "^0.6.0"
scipy = "^1.8.1"
scikit-video = "^1.1.11"
opencv-contrib-python = "^4.6.0"
rich = "^12.5.1"
furo = "^2022.6.21"
nbsphinx = "^0.8.9"
ipython = "^8.5.0"
kaggle = "^1.5.12"
vidgear = "^0.2.6"
jupyter = "^1.0.0"
ipywidgets = "^8.0.4"
seedir = "^0.4.2"
poetry = {extras = ["seedir"], version = "^1.3.1"}
sphinx-autodoc-typehints = "^1.20.1"
mplsoccer = "^1.1.10"
python-dotenv = "^0.21.1"
labelbox = "^3.35.0"
protobuf = ">=3.20.0,<3.21.0"

[tool.poetry.dev-dependencies]
prospector = "^1.7.7"
mypy = "^0.960"
pyroma = "^4.0"
types-python-dateutil = "^2.8.17"

[tool.poetry.group.dev.dependencies]
black = "^22.8.0"


[tool.poetry.group.docs.dependencies]
sphinx = "^6.1.3"
sphinx-autoapi = "^2.0.0"
sphinx-autodoc-typehints = "^1.18.3"
nbsphinx = "^0.8.9"
furo = "^2022.6.4"
m2r2 = "^0.3.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
