joblib==1.1.0
matplotlib==3.5.0
mplsoccer==1.0.5
opencv_python==4.5.4.60
pandas==1.3.4
Pillow==8.4.0
scikit_learn==1.0.1
setuptools==58.0.4
tqdm==4.62.3
vidgear==0.2.3
loguru==0.5.3
rich==10.14.0

# atomscott repos
# git+git@github.com:AtomScott/Python-Object-Detection-Metrics.git@20ea52eba4935c75fe868186112b39abb6fb01dd
