Pillow==8.4.0
gdown==4.2.1
joblib==1.1.0
loguru==0.5.3
matplotlib>=3.3.0
mplsoccer==1.0.5
opencv_python==4.5.4.60
pandas>=1.0.0
rich==10.14.0
scikit_learn
setuptools
tqdm
vidgear
numpy>=1.20
omegaconf
click
# atomscott repos
# git+git@github.com:AtomScott/Python-Object-Detection-Metrics.git