<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <img src="{{ site.url }}/img/banner.png" class="img-fluid" alt="Banner">

          <div class="hero-buttons text-center">
            {% if site.github_url != '' %}
              <a href="{{ site.github_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.rtd_url != '' %}
              <a href="{{ site.rtd_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-book fa-lg"></i>Documentation</button></a>
            {% endif %}
            {% if site.download_url != '' %}
              <a href="{{ site.download_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-download fa-lg"></i>Download</button></a>
            {% endif %}
            {% if site.paper_url != '' %}
              <a href="{{ site.paper_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-file-text fa-lg"></i>Paper</button></a>
            {% endif %}
            
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
