<div style="overflow: scroll">
  <table class="table">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Filename</th>
        <th>Modality</th>
        <th>FPS</th>
        <th>Resolution</th>
        <th>Length</th>
        <th>Tracks</th>
        <th>Boxes</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
    </thead>
    <tr>
      <td>
        <a href="{{ site.url }}/img/banner.png">
          <img
            src="{{ site.url }}/img/banner.png"
            class="thumbnail"
            alt="Thumbnail"
        /></a>
      </td>
      <td>drone_video</td>
      <td>Drone</td>
      <td>30</td>
      <td>3840 x 2160</td>
      <td>9 min 47 sec</td>
      <td>23</td>
      <td>20700(未確認)</td>
      <td>Drone video sequence</td>
      <td>
        <a
          href="https://drive.google.com/uc?export=download&id=1Awpq3pIGPJXlboF61mOAPAqSBW-cYjPO"
          >Video[1.9GB]</a
        >
        /
        <a
          href="https://drive.google.com/uc?export=download&id=1ORTHVLC8dh-W24LH_QCrKJh31ta55QJk"
          >Annotation[3.6MB]</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ site.url }}/img/banner.png">
          <img
            src="{{ site.url }}/img/banner.png"
            class="thumbnail"
            alt="Thumbnail"
        /></a>
      </td>
      <td>Fish-eye_video</td>
      <td>Fish-eye</td>
      <td>25</td>
      <td>6500 x 1000</td>
      <td>2 min 12 sec</td>
      <td>23</td>
      <td>20700(未確認)</td>
      <td>fish-eye sequence</td>
      <td>
        <a
          href="https://drive.google.com/uc?export=download&id=1iB02QJvZqxrJGatJdPpP1ZgKVRqO-NLK"
          >Video[64.0MB]</a
        >
        /
        <a
          href="https://drive.google.com/uc?export=download&id=1zKOGKwHdujGF1BFig8M5UgD-6e2CbqeV"
          >Annotation[1.0MB]</a
        >
      </td>
    </tr>
  </table>
</div>
