<div style="overflow: scroll">
  <table class="table">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Filename</th>
        <th>Modality</th>
        <th>FPS</th>
        <th>Resolution</th>
        <th>Length</th>
        <th>Tracks</th>
        <th>Boxes</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
    </thead>
    <tr>
      <td>
        <a href="{{ site.url }}/img/banner.png">
          <img
            src="{{ site.url }}/img/banner.png"
            class="thumbnail"
            alt="Thumbnail"
        /></a>
      </td>
      <td>STDrone-000</td>
      <td>Drone</td>
      <td>30</td>
      <td>3840 x 2160</td>
      <td>30 sec</td>
      <td>23</td>
      <td>20700</td>
      <td>Drone video sequence</td>
      <td>
        <a
          href="https://drive.google.com/drive/folders/1d7ZvU5yEZXCXH4FkDuWOUnN-P-Q4EpkP?usp=sharing"
          >Video</a
        >
        /
        <a
          href="https://drive.google.com/uc?export=download&id=1eOJMQYsd9qoXLkXKhitSm5oOYMTaoB81"
          >Annotation</a
        >
      </td>
    </tr>
  </table>
</div>
